<!-- ======= Footer ======= -->
<footer id="footer" class="mt-auto">

	<div class="footer-top">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-6 footer-contact">
					<h3>Мои контакты</h3>
					<p>
					Россия, Москва<br><br>
					<strong>Мобильный номер:</strong> <a href="tel:89633673184" rel="nofollow">8 963 367-31-84</a><br>
					<strong>E-Mail:</strong> <a href="mailto:info@webexpensive.ru" rel="nofollow">info@webexpensive.ru</a><br>
					</p>
				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Backend-разработка</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> Nginx</li>
						<li><i class="bx bx-chevron-right"></i> Node.js</li>
						<li><i class="bx bx-chevron-right"></i> MongoDB</li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Frontend-разработка</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> Vue.js</li>
						<li><i class="bx bx-chevron-right"></i> HTML 5</li>
						<li><i class="bx bx-chevron-right"></i> CSS 3</li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Мои социальные сети</h4>
					<p>Вы можете быстро связаться со мной, написав мне в мессенджере</p>
					<div class="social-links mt-3">
						<a href="https://api.whatsapp.com/send?phone=79633673184" rel="nofollow"><i class="bx bxl-whatsapp"></i></a>
						<a href="http://t.me/Alexander_onweb" rel="nofollow"><i class="bx bxl-telegram"></i></a>
						<a href="https://vk.com/webexpensive" rel="nofollow"><i class="bx bxl-vk"></i></a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container py-4">
		<div class="copyright">
			&copy; Copyright <strong><span>2022-<script>document.write(new Date().getFullYear());</script>г</span></strong>.
		</div>
		<div class="credits">
		</div>
	</div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div class="progress-bar-scrolls" id="progressBarScrolls"></div>

<div id="cookie_note">
    <p>Сайт использует файлы cookies для улучшения работы сайта. Оставаясь на данном сайте, вы соглашаетесь с условиями
        использования файлов cookies.</p>
    <button class="button cookie_accept btn btn-primary btn-sm">Я согласен</button>
</div>

<!-- Vendor JS Files -->
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/toast/toast.js"></script>
<script src="/static/js/socket.io.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>

<script src="/static/js/run_prettify.js"></script>

<script> (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(89231959, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/89231959" style="position:absolute; left:-9999px;" alt="" /></div></noscript>