<!-- ======= Footer ======= -->
<footer id="footer" class="mt-auto">

	<div class="footer-top">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-6 footer-contact">
					<h3>Мои контакты</h3>
					<p>
					Россия, Москва<br><br>
					<strong>Мобильный номер:</strong> <a href="tel:89633673184" rel="nofollow">8 963 367-31-84</a><br>
					<strong>E-Mail:</strong> <a href="mailto:info@webexpensive.ru" rel="nofollow">info@webexpensive.ru</a><br>
					</p>
				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Backend-разработка</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> Nginx</li>
						<li><i class="bx bx-chevron-right"></i> Node.js</li>
						<li><i class="bx bx-chevron-right"></i> MongoDB</li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Frontend-разработка</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> Vue.js</li>
						<li><i class="bx bx-chevron-right"></i> HTML 5</li>
						<li><i class="bx bx-chevron-right"></i> CSS 3</li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Мои социальные сети</h4>
					<p>Вы можете быстро связаться со мной, написав мне в мессенджере</p>
					<div class="social-links mt-3">
						<a href="https://api.whatsapp.com/send?phone=79633673184" rel="nofollow"><i class="bx bxl-whatsapp"></i></a>
						<a href="http://t.me/WebExpensive" rel="nofollow"><i class="bx bxl-telegram"></i></a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container py-4">
		<div class="copyright">
			&copy; Copyright <strong><span>2022</span></strong>.
		</div>
		<div class="credits">
		</div>
	</div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/toast/toast.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>