<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
	<div class="container d-flex align-items-center justify-content-between">

		<div class="logo">
			<h1 class="text-light"><a href="/" title="Разработка интернет-приложений"><span>Node.js</span></a></h1>
		</div>

		<nav id="navbar" class="navbar">
			<ul>
				<li><a class="nav-link scrollto active" href="/">Главная</a></li>
				<li><a class="getstarted scrollto" href="tel:89633673184" rel="nofollow">Заказать</a></li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->

	</div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

	<div class="container">
		<div class="row gy-4">
			<div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
				<h1>Ошибка 404</h1>
				<h2>Вы попали на несуществующую страницу</h2>
				<div>
				<a href="/" title="Разработка интернет-приложений" class="btn-get-started scrollto">Вернутся</a>
				</div>
			</div>
			<div class="col-lg-6 order-1 order-lg-2 hero-img">
				<img src="/static/img/node.svg" class="img-fluid animated" alt="">
			</div>
		</div>
	</div>

</section><!-- End Hero -->