<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
	<div class="container d-flex align-items-center justify-content-between">

		<div class="logo">
			<h2 class="text-light"><a href="/"><span>Node.js</span></a></h2>
		</div>

		<nav id="navbar" class="navbar">
			<ul>
				<li><a class="nav-link scrollto active" href="/">Главная</a></li>
				<li><a class="getstarted scrollto" href="tel:89633673184" rel="nofollow">Заказать</a></li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->

	</div>
</header><!-- End Header -->

<!-- ======= Main ======= -->
<main id="main">

	<!-- ======= Services Section ======= -->
	<section id="services" class="services">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Форма</h2>
				<p>Авторизация</p>
			</div>
			
			<div class="d-flex justify-content-center align-items-center container ">
				<form name="adminLogin" id="adminLogin">	
					<div class="row g-3">
						<div class="col-md-6">
							<label for="login">Логин</label>
							<input type="text" class="form-control" id="login" name="login" placeholder="Логин" required>
						</div>
						<div class="col-md-6">
							<label for="password">Пароль</label>
							<input type="password" class="form-control" id="password_auth" name="password_auth" placeholder="Пароль" required>
						</div>
						<div class="col-12">
							<div id="response_messages"></div>
						</div>
						<div class="col-12">
							<div class="d-flex justify-content-center"><button type="submit" class="btn btn-primary">Войти в систему</button></div>
						</div>
					</div>
				</form>
			</div>
			<script src="/static/js/panel.js"></script>

		</div>
	</section><!-- End Services Section -->

</main><!-- End #main -->