<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
	<div class="container d-flex align-items-center justify-content-between">

		<div class="logo">
			<h2 class="text-light"><a href="/" title="Разработка интернет-приложений"><span>Node.js</span></a></h2>
		</div>

		<nav id="navbar" class="navbar">
			<ul>
				<li><a class="nav-link scrollto active" href="/services/" title="Услуги">Услуги</a></li>
				<li><a class="nav-link scrollto" href="/news/" title="Новости">Новости</a></li>
				<li><a class="nav-link scrollto" href="/programming/" title="Программирование">Программирование</a></li>
				<li><a class="nav-link scrollto" href="/" title="Разработка интернет-приложений">Главная</a></li>
				<li><a class="getstarted scrollto" href="tel:89633673184" rel="nofollow">Заказать</a></li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->

	</div>
</header><!-- End Header -->

<main id="main">

	<section class="breadcrumbs">
		<div class="container">

			<div class="d-flex justify-content-between align-items-center">
				<h1>Создание личных кабинетов</h1>
				<ol>
					<li><a href="/" title="Разработка интернет-приложений">Главная</a></li>
					<li><a href="/services/" title="Услуги">Услуги</a></li>
				</ol>
			</div>

		</div>
	</section><!-- Breadcrumbs Section -->

	<section class="about__area pt-100">
		<div class="container">
			<div class="row">
				<div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1">
					<div class="about__wrapper" data-aos="fade-up">
						<span class="about__sub-title">Fullstack-разработчик в Москве</span>
						<h3 class="about__title">Личный кабинет (ЛК)</h3>
						<div class="about__thumb w-img wow fadeInUp">
							<img src="/static/img/services-lichnye-kabinety.jpg" alt="Личные кабинеты" title="Личные кабинеты">
						</div>                   
						<div class="about__content">
							<p class="about__text">
								Личные кабинеты очень распространены в интернете, мы взаимодействуем с ними буквально каждый день: оплачиваем счета, просматриваем персональную информацию, совершаем покупки и многое другое. Это очень удобный сервис как для клиента, которому не нужно каждый раз идти к вам в офис, так и для самого предпринимателя, ведь личный кабинет работает круглосуточно, не требуется офисное помещение, ускоряется обработка запросов и т.п. Плюсов очень много. 
								<br><br>ЛК обычно содержит открытый и закрытый контент для посетителей. В открытом виде представлена справочная информация, форма регистрации и авторизации. Чтобы воспользоваться основным функционалом, необходимо пройти процесс аутентификации. Для защиты аккаунтов применяется идентификация по логину и паролю, а также подтверждение входа по смс-коду.
								<br><br><b>Безопасность</b>
								<br>Считаю важным, чтобы такой портал был удобен для клиентов, работал быстро, был защищён от взлома. Необходимо просчитывать все риски и постоянно проводить аудит безопасности ресурса, обновлять компоненты защиты, использовать актуальные версии ПО. Ограничивать круг лиц, которые бы имели непосредственный доступ к базам и файлам сайта. Постоянно создавать актуальные backup версии.
								<br><br><b>Интеграция 1С с сайтом</b>
								<br>Часто данные для сайта необходимо и удобно подтягивать с программы 1С. Это могут быть цены, товары, персональная информация и т.д. Обеспечить взаимодействие веб-ресурса и 1С возможно разными способами. В моей практике используются и SOAP-сервисы, REST интерфейс, обмен по FTP. С помощью них как и вывожу информацию на сайте, так и записываю в саму базу 1С, которая поступает с форм веб-сайта.
							</p>
							<div class="testimonial__alexander">
								<div class="testimonial__person-wrapper">
									<div class="testimonial__person d-flex">
										<div class="testimonial__avater">
											<img src="/static/img/author.jpg" alt="Fullstack-разработчик в Москве">
										</div>
										<div class="testimonial__info">
											<h5>Александр</h5>
											<span>Fullstack-разработчик в Москве</span>
										</div>
									</div>
								</div> 
								<div class="testimonial__text testimonial__text-2 white-bg mt--40">
									<p>Профессиональная разработка веб-приложений на Node.js с использованием Express. Создание, продвижение, поддержка и обслуживание <b>Личных кабинетов</b>. Эффективно, прибыльно.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="pt-100" data-aos="fade-up">
		<div class="container">
			<div class="row">
				<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 card_nodejs_market">
					<div class="documentation__item gradient-pink mb-30 transition-3 text-center">
						<div class="documentation__icon mb-30">
							<img src="/static/img/cloud.png" alt="веб-разработка">
						</div>
						<div class="documentation__content">
							<div class="documentation__title">Сервер</div>
							<p>Выбор и настройка хостинга или VPS сервера</p>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 card_nodejs_market">
					<div class="documentation__item gradient-blue mb-30 transition-3 text-center">
						<div class="documentation__icon mb-30">
							<img src="/static/img/code.png" alt="веб-разработка">
						</div>
						<div class="documentation__content">
							<div class="documentation__title">Программирование</div>
							<p>Выбор языка и фреймворка для запуска проекта</p>
						</div>
					</div>
				</div>
					<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 card_nodejs_market">
						<div class="documentation__item gradient-orange mb-30 transition-3 text-center">
							<div class="documentation__icon mb-30">
								<img src="/static/img/database.png" alt="веб-разработка">
							</div>
						<div class="documentation__content">
							<div class="documentation__title">Хранение</div>
							<p>Создание базы данных и настройка backup версий</p>
						</div>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 card_nodejs_market">
					<div class="documentation__item gradient-purple mb-30 transition-3 text-center">
						<div class="documentation__icon mb-30">
							<img src="/static/img/api.png" alt="веб-разработка">
						</div>
						<div class="documentation__content">
							<div class="documentation__title">Интеграция</div>
							<p>Подключение CRM системы, связь с 1С, REST API</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</main><!-- End #main -->